*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg: #1a0015;
  --color: white;
  --card-bg: rgb(119, 35, 107);
}

/* TODO light theme */
/* @media (prefers-color-scheme: light) {
  :root {
    --bg: #eee;
  }
} */

html {
  background-color: var(--bg);
  color: var(--color);
  font-family: monospace;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
}

/* a {
  color: white !important;
} */

.hopa {
  opacity: 0.5;
}

#corner-flag {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: -1rem;
  left: -1rem;
  width: 8rem;
  height: 8rem;
  opacity: 0.85;
  color: transparent;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 3rem;
  }
  #corner-flag {
    top: -1.66rem;
    left: -1.66rem;
    width: 7rem;
    height: 7rem;
  }
}

.text-center {
  text-align: center;
}

.host-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: unset;
}

.test-connectivity.wait {
  color: #ff5;
}
.test-connectivity.ok {
  color: #5f5;
}
.test-connectivity.ko {
  color: #f55;
}

body:not(.can-test-connectivity) .if-can-test-connectivity {
  display: none;
}
body.can-test-connectivity:not(.failure-ipv6) .if-failure-ipv6 {
  display: none;
}

.infra-container {
  --card-width: 19.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .infra-container {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.infra-card {
  box-sizing: border-box;
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  padding: 0.75rem;
  border-radius: .5rem;
  border: 1px solid var(--color);
}

.infra-card .infra-title {
  text-align: center;
  font-size: 1.12rem;
  font-weight: bold;
}

.infra-card .infra-host {
  text-align: center;
  font-size: 0.85rem;
}

.infra-card .infra-host::before {
  content: "Running on: ";
}

.separator {
  margin: 0;
  height: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color);
}

.infra-link {
  color: var(--color) !important;
}

.infra-link:not(:last-child) {
  padding-bottom: 0.25rem;
}

.infra-link.protected::after {
  content: " 🔒";
}

.infra-link.cloudflare::after {
  content: " ☁️";
}

.infra-link.password::after {
  content: " 🔑";
}

@media screen and (min-width: 1100px) {
  body::after {
    content: ":3";
    font-family: sans-serif;
    font-size: 20rem;
    opacity: 0.1;
    pointer-events: none;
    z-index: -9999;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(-25%) translateY(0%) rotate(-30deg);
    /* transition: opacity 0.5s; */
  }
}